<nav
  class="flex flex-row text-center w-full justify-between items-center bg-[#2B3844] min-h-[10vh] px-5 md:px-20 py-4 shadow-md"
>
  <div>
    <h1
      class="text-white text-[14px] md:text-[24px] leading-[Normal] font-extrabold"
    >
      Where in the world?
    </h1>
  </div>

  <div>
    <button class="flex items-center space-x-2">
      <img src="../assets/sun.png" width="16px" height="16px" alt="moon-icon" />
      <span class="text-[12px] text-white font-semibold">Dark Mode</span>
    </button>
  </div>
</nav>
