@if (isLoading) {
<div class="loadingSpinnerContainer">
  <div class="loadingSpinner"></div>
</div>
}

<div
  [ngClass]="{
    'w-full h-full py-8 lg:h-[100vh] xl:h-[90vh] ': true,

  }"
>
  <div
    [ngClass]="{
    'flex flex-col md:my-16 mb-4 mx-auto mt-8 px-5 md:px-20 xl:overflow-y-hidden': true,
  }"
  >
    <div
      [routerLink]="['/']"
      class=""
      [ngClass]="{
        'flex flex-row items-center  space-x-3 w-[fit-content] px-8 py-2 rounded-md cursor-pointer': true,
        ' bg-white text-black': !isDarkTheme,
        'bg-[#2B3844] ': isDarkTheme
      }"
    >
      @if (isDarkTheme) {

      <img src="../assets/Shape.png" alt="back-icon" />
      }@else {
      <img src="../assets/Shape-b.png" alt="back-icon" />

      }
      <span> Back </span>
    </div>

    <div
      class="flex flex-col lg:flex-row justify-between lg:items-center w-full mt-8"
    >
      @for(country of countryDetails; track countryDetails){

      <div class="w-full lg:w-2/4">
        <!-- <img
          [src]="country.flags.png"
          class="h-[229px] md:h-[401px] rounded-xl w-full lg:w-3/4"
          alt="country-flag"
        /> -->

        <img
          [src]="country.flags.png"
          class="md:h-[401px] rounded-xl w-full md:w-[560px]"
          alt="country-flag"
        />
      </div>

      <div class="details w-full lg:w-2/4">
        <div
          class="flex flex-col md:flex-row md:justify-between md:w-full md:items-center"
        >
          <div class="flex flex-col">
            <h1 class="text-[24px] font-extrabold my-5">
              {{ country.name.common }}
            </h1>
            <p class="text-[14px] my-2">
              <span class="font-semibold">Native Name:</span>

              @for(key of objectKeys(country.name.nativeName); track key){

              {{ country.name.nativeName[key].official }}
              }
            </p>
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Population:</span>
              {{ country.population | number }}
            </p>
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Region:</span>
              {{ country.region }}
            </p>
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Sub Region:</span>
              {{ country.subregion }}
            </p>
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Capital:</span>
              {{ country.capital }}
            </p>
          </div>

          <div class="flex flex-col mt-7">
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Top Level Domain:</span>
              {{ country.tld[0] }}
            </p>
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Currencies:</span>

              @for(key of objectKeys(country.currencies); track key;){

              {{ country.currencies[key].name }}
              }
            </p>
            <p class="text-[14px] font-medium my-2">
              <span class="font-semibold">Languages:</span>

              <!-- <ng-container *ngFor="let key of objectKeys(country.languages)">
                {{ country.languages[key] }}
              </ng-container> -->

              @for(key of objectKeys(country.languages); track key; let last =
              $last ){

              {{ country.languages[key] }}<span *ngIf="!last">, </span>
              }
            </p>
          </div>
        </div>

        <div
          class="flex flex-col md:flex-row md:items-center md:justify-between w-full lg:w-3/4 mt-5"
        >
          <p class="text-[14px] font-medium my-2">
            <span class="font-semibold">Border Countries:</span>
          </p>

          <div
            class="flex flex-row justify-around items-start sm:space-x-2 md:space-x-3 w-full md:w-1/4 xl:w-1/4 xl:space-x-6 mt-3 md:mt-0"
          >
            @for(border of country.borders; track border){
            <button
              [ngClass]="{
                'shadow-xl px-4 md:px-8 text-xs py-1 cursor-pointer': true,
                'bg-[#2B3844]': isDarkTheme
              }"
            >
              {{ border }}
            </button>
            }@empty {
            <p class="text-[14px] font-medium">
              <span class="font-normal">No Border Countries</span>
            </p>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
