@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans";
  font-style: normal;
}

/* .content.light-theme {
  background-color: #f2f2f2;
  color: #000;
}

.content.dark-theme {
  background-color: #202c36;
  color: #fff;
} */


body{
  background-color: #202c36;
  color: #000;
}